.nav-title{
     display: flex;
     justify-items: center;
     align-items: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;

}
.amer{color: #0B0223;}



.gamer-title{background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
height: 130px;
flex-shrink: 0;
background: #FFF;
color:#FFFFFF ;

}
.nav-title img{width: 86.041px;
    height: 40px;
    flex-shrink: 0;

}
nav>ul {
    display: flex;
}
nav li{
    display: flex;
    margin-right: 180px;
    font-weight: 500;
    font-size: 1rem;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #3C354F; ;
}
.follow-us{
    
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #0B0223;
    display: flex;
    padding: 15px;
    margin-right: 20px;
    gap: 20px;
}


.banner{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.banner-title{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.goat{
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  
}
.paragrap{
 color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 500;
font-family: Work Sans;
font-style: normal;
}
.b-1 ,.b-2{
    color: #FFF;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
}
.b-1{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.b-2{
   background:  #4EC5F7;
}
.banner-title-2 {
    text-align: center;
    justify-content: center;
       color: #534C64;

}
.banner-title-2 , p {color: #0B0223;

}
.banner-img-2, p{color: #0B0223;

}
.online{color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-style: normal;
font-weight: 700;
font-size: 48px;
text-align: right;

}




.banner-img-2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 50px;

    
}

.banner-title-3{
    display: flex;
    justify-content: space-evenly;
}
.banner-text{
    text-align: center;
    justify-content: flex-start;
    text-align: center;
}
.banner-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 50px;
     background: #FFF;
     color: #0B0223;
     font-family: Work Sans;
     font-size: 20px;
     font-weight: 600;
     
}
.banner-grid , img , h3{
margin-inline: 100px;
    gap: 10px;
}




.footer{
    width: 100%;
height: 636px;
flex-shrink: 0;
background: #0B0223;

}
.footer-title{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.am{ color: #FFFFFF;

}
.footer-title-2 >ul{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 60px;
}
.footer-title-2 li{
    list-style: none;
    margin-top: 50px;
    

}
.footer-title-2 li a{
    text-decoration: none;
     color:  #FFFFFF;
}
.footer-img{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
    margin-top: 100px;
}
.footer-caption>ul{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
     ;
}
.footer-caption li{
    list-style: none;
    margin-top: 50px;

}
.footer-caption li a{
    text-decoration: none;
    color:#FFFFFF;


    
}

figcaption{
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
}